body {background-color:#999988;} 
h1 {background-color:#3f3c00; font-size:12px; color:#ff3333; font-family:Aharoni; font-weight:bold; font-style:normal; padding:40px 0px 0px 15px;}
h2 {background-color:#999988; font-size:18px; color:#00cc00; font-family:Aharoni; font-weight:bold; font-style:normal;}
h3 {background-color:#999988; font-size:18px; color:#00cc00; font-family:Aharoni; font-weight:bold; font-style:normal;}

p {background-color:#999988; font-size:12px; color:#000000; font-size:12; font-family:Aharoni; font-weight:bold; font-style:normal;}
ul li {background-color:#999988; font-size:12px; color:#000000; font-family:Aharoni; font-weight:bold; font-style:normal;}


a:link {color:#ff9900;}
a:visited {color:#0033ff;}
a:hover {color:#ff00ff;}


#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#menu ul li {
  display: block;
  position: relative;
  float: left;
   font-family: Arial, Verdana;
  font-size: 14px;
}
#menu li ul { display: none; }
#menu ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 5px 15px 5px 15px;
  background: #999967;
  margin-left: 1px;
  white-space: nowrap;
}
#menu ul li a:hover { background: #cccc9a; }
#menu li:hover ul {
  display: block;
  position: absolute;
}
#menu li:hover li {
  float: none;
  font-size: 12px;
}
#menu li:hover a { background: #cccc9a; }
#menu li:hover li a:hover { background: #cccc8a; }